.App {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.App .contact-list {
  margin: 0 auto;
  height: 400px;
}

.App .contact-list ul {
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

.App .search-panel {
  width: 100%;
}