.App {
  padding: 0px 20px 0px 20px;
  height: 568px;
  display: flex;
  flex-direction: column;
}

.App .contact-list {
  height: calc(100% - 20px);
  border: 1px solid #ccc; 
  padding-bottom: 20px;
  order:0;
}

.App .contact-list ul {
  height: 100%;
  overflow: auto;
}

.App .search-panel {
  width: 100%;
  /* order:2; */
}

.app-container {
  display: flex;
  border: 1 px solid blueviolet;
}
.region-column {
  display: flex;
  flex-flow: column;
  padding:20px;
}
.region-column:nth-child(3) {
  flex-grow: 2;
}
.region-title, .countries-list {
  display: block;
}
.countries-list {
  display: flex;
    flex-wrap: wrap;
}
.country-box {
  display: block;
  width: 150px;
}